<template name="positionNew">
  <div>New Postion</div>
  <form>
    <div class="form-group">
      <label for="stock">Stock Ticker</label>
      <input type="text" name="stock" class="form-control">
    </div>
    <div class="form-group">
      <label for="entryPrice">Entry Stock Price</label>
      <input type="number" name="entryPrice" class="form-control">
    </div>
    <div class="form-group">
      <label for="entryDate">Entry Date</label>
      <input type="date" name="entryDate" class="form-control" value="{{currentDate}}">
    </div>

    <div>
      <input type="submit" value="Save" class="btn btn-primary" />
      <a href="{{pathFor 'positionsList'}}" class="btn btn-default">Cancel</a>
    </div>
  </form>
</template>
